/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
  }

  header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header h1 {
    font-size: 1.5em;
    margin: 0;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
  }

  nav a:hover {
    text-decoration: underline;
  }

  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
  }

  section {
    padding: 20px;
  }

  h2, h3 {
    color: #929;
  }

  /* Hero Section */
  .hero-section {
    background: url('/public/photos/pareja_civil_quebradita.jpeg') center/cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .hero-section h2 {
    font-size: 2em;
    margin: 0;
  }

  .hero-section p {
    font-size: 1.2em;
  }

  /* Gallery */
  .gallery img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: 10px 0;
  }

  /* PhraseDateCountdown */
  .phrase-date-countdown-section {
    background: url('/public/photos/logo_boda_transparente.png') top/cover;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
    background-size: contain;   /* Ajusta la imagen para que se vea completa */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center;
  }